* {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App__restart {
  margin-right: 10px;
  padding: 5px;
}

.App__game {
  width: 400px;
  height: 400px;
  border: 1px solid red;
}

.App__game-box12 {
  width: 200px;
  height: 200px;
  border: 1px solid red;
}

.App__game-box22 {
  width: 200px;
  height: 200px;
  border: 1px solid red;
  transform: translate(200px);
}
