* {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App__restart {
  margin-right: 10px;
  padding: 5px;
}

.App__game {
  width: 400px;
  height: 400px;
  border: 1px solid red;
}

.App__game-box {
  /* display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; */
  width: 200px;
  height: 200px;
  border: 1px solid red;
}

.App__game-box-button {
  padding: 10px;
}

.App__game-box-button.top {
  display: flex;
  margin: auto;
  margin-top: -12px;
}

.App__game-box-button.left {
  /* display: flex; */
  margin-top: 15px;
  margin-left: 5px;
}

.App__game-box-button.right {
  /* display: flex; */
  margin-left: 72px;
}

.App__game-box-button.bottom {
  display: flex;
  margin: auto;
  margin-top: 40px;
}

.App__game-box-button-transfrom-right {
  transform: translate(100px);
}
